[submodule "extern/DefaultEcs"]
	path = extern/DefaultEcs
	url = https://github.com/Helco/DefaultEcs
	branch = safe-variant
[submodule "extern/Veldrid"]
	path = extern/Veldrid
	url = https://github.com/Helco/Veldrid
	branch = zzio
[submodule "extern/ImGui.NET"]
	path = extern/ImGui.NET
	url = https://github.com/Helco/ImGui.NET
	branch = zzio
[submodule "extern/Mlang"]
	path = extern/Mlang
	url = https://github.com/Helco/Mlang
[submodule "extern/NLayer"]
	path = extern/NLayer
	url = https://github.com/TechPizzaDev/NLayer
